* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    line-height: 1.1428;
    font-size: 62.5%;
    font-family: "PingFang SC", "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    height: 100%;
}

.container {
    padding: 3rem;
    font-size: 1.8rem;
    display: none;
}

.help-tip {
    color: #323232;
    font-size: 1.8rem;
    margin: 5rem 0 6rem;
}

.btn {
    display: table;
    width: 100%;
    height: 5rem;
    border: 1px solid #000;
    border-radius: 0.2rem;
    margin: 0 auto 2rem;
}

.btn.btn-link {
    text-decoration: none;
    cursor: pointer;
}

.btn.alipay-btn {
    color: #00A1E9;
    border: 1px solid #00A1E9;
}
.btn.bank-btn {
  color: #e6b070;
  border: 1px solid #e6b070;
}

.btn.wechat-btn {
    color: #00C800;
    border: 1px solid #00C800;
}

.btn.truemoney-btn {
    color: #E37834;
    border: 1px solid #E37834;
}

.btn>.btn-inner {
    display: table-cell;
    vertical-align: middle;
}

.image-text-container {
    margin-left: auto;
    margin-right: auto;
    height: 2.2rem;
    width: 160px;
    line-height: 2.2rem;
}

.image-text-container>.logo {
    width: 2.2rem;
    height: 2.2rem;
    margin-right: 1rem;
    float: left;
}

.image-text-container>span {
    display: inline-block;
    line-height: 2.45rem;
}

.show {
    display: block!important;
}
.large{
height: 4rem;
margin-right: 1rem;
float: left;
}
#alipayBtn{
display: none;
}
#weixinBtn{
  display: none;
}
#bank{
  display: none;
}
#bankBtn{
  display: none;
}

#ALP{
  display: none;
  }
  #WXP{
    display: none;
  }
  #UPI{
    display: none;
  }
  #WHK{
    display: none;
    }
    #MCC{
      display: none;
    }
    #VIS{
      display: none;
    }